<head>
  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body class="homePage">

  <div class="top">
    <!-- <h1 id="title">The Deen</h1> -->
    <a class="homes" href="http://www.thismanslife.co.uk" target="_blank">The Deen</a>
  </div>

  <div class="middle">
    <h3><a class="signup1" href="/signUp">Sign Up</a></h3> <h3><a class="signin1" href="/signIn">Sign In</a></h3>
  </div>

  <div class="btm">
  </div>
</body>
